<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type = "text/css">
    <title>Ampify</title>
</head>
<body>
    <div class = "container">
        <fieldset>
            <h1>Signup</h1>
            <form class="signup" action="/register" method="post" class = "form">
                <br><input type = "text" id = "name" name = "name" placeholder="Enter your name"><br>
                <br><input type = "email" id = "email" name = "email" placeholder="Enter your Email ID"><br>
                <br><input type = "password" id = "password" name = "password" placeholder="Enter password"><br>
                <br><input type = "password" id = "password" name = "confirmPassword" placeholder="Confirm password"><br>
                <br><input type = "submit" class="button"><br><br>
                <a href = "/login">Already a user?</a>
            </form>

        </fieldset>
    </div>
</body>
</html>